{% extends "main_base.html" %}

{% block login %}
<div class="forgot-password-container">
    <h2>Введите новый пароль</h2>
    <form method="post">
        <label for="new_password">Введите новый пароль: </label><br>
        <input type="password" id="new_password" name="new_password" required placeholder="example12345" style="width: 100%; padding: 10px; margin: 5px 0; box-sizing: border-box;"><br><br>
        <button type="submit">Подтвердить</button>
    </form>
</div>
{% endblock %}